In [14]:
import requests
import pandas as pd

In [22]:
recipe_list_url = 'http://localhost:8000/rest-api/recipe/'

response = requests.get(recipe_list_url)

In [23]:
recipe_list = response.json()

df = pd.DataFrame(recipe_list)

df.head()

,id,user,title,description,preparation_time,cooking_time,difficulty_level
0,1,2,Korean Bibimbap zz,Bibimbap is a signature Korean dish known for ...,30,25,Moderate
1,2,2,Kimchijeon,Kimchijeon is a savory Korean pancake made wit...,15,15,Easy
2,3,2,Dubu Jorim,Dubu Jorim is a flavorful Korean tofu dish coo...,15,20,Easy
3,4,3,계란 후라이,egg fry,0,3,쉬움
4,5,2,Scramble Egg,Egg,0,3,Easy

In [24]:
recipe_query = """query MyQuery {
  allRecipes {
    difficultyLevel
    title
    id
  }
}"""

In [25]:
graphql_url = 'http://localhost:8000/graphql/'  

response = requests.get(graphql_url, json={'query': recipe_query})

In [30]:
recipe_list = response.json()['data']['allRecipes']

In [32]:
df = pd.DataFrame(recipe_list)

df.head()

  difficultyLevel               title id
0        Moderate  Korean Bibimbap zz  1
1            Easy          Kimchijeon  2
2            Easy          Dubu Jorim  3
3              쉬움              계란 후라이  4
4            Easy        Scramble Egg  5

In [42]:
recipe_ingredient_list_url = 'http://localhost:8000/rest-api/recipe-ingredient/'

response = requests.get(recipe_ingredient_list_url)

In [45]:
recipe_ingredient_list = response.json()

df = pd.DataFrame(recipe_ingredient_list)

df.head()

   recipe  ingredient quantity         unit
0       1           1     4.00         cups
1       1           2   200.00        grams
2       1           3     3.00  tablespoons
3       1           4     2.00  tablespoons
4       1           5     1.00  tablespoons

In [46]:
ingredient_list_url = 'http://localhost:8000/rest-api/ingredient/'

response = requests.get(ingredient_list_url)

In [47]:
ingredient_list = response.json()

df = pd.DataFrame(ingredient_list)

df.head()

          name
0  Cooked rice
1        Beef
2    Soy sauce
3   Sesame oil
4        Sugar

In [37]:
recipe_ingredient_query = """query MyQuery {
  allRecipes {
    difficultyLevel
    title
    id
    recipeingredientSet {
      ingredient {
        name
      }
      quantity
      unit
    }
  }
}"""

In [38]:
response = requests.get(graphql_url, json={'query': recipe_ingredient_query})

In [39]:
recipe_list = response.json()